<section class="section">
    <div class="container">
        <h1 class="title">Pantry Power Leaderboard</h1> {{! update function if time allows }}
        <div class="columns">
            <div class="column">
                {{#each leaderboard}}
                <div class="box p-4">
                    <div class="columns pt-3">
                        <h1 class="title mx-3 pt-2">{{this.rank}}</h1>
                    <figure class="image is-64x64 mb-0">
                    <img src="https://api.dicebear.com/6.x/adventurer/svg?seed={{this.name}}" style="transform: scaleX(-1)"
            alt="Pantry Pals's avatar" class="is-rounded">
                    </figure>
                <p class="has-text-info has-background-info-light pt-4 px-2">{{this.name}}<p class="mx-4 pt-4"> 

            Pantry Power: {{this.power}}
            Member since: {{formatDate this.created}}
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</section>